@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@600&display=swap');

@media (max-width:1980px){
    /*home*/
    body {
        background: linear-gradient(rgba(5, 7, 12, 0.651),rgba(5, 7, 12, 0.74)), url("Img/Ballroom-2-2.jpg");
        padding: 50px;
        padding-bottom: 70px;
    }
    .BarraSup{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .BarraSup img{
        min-width: 175px;
        height: 125px;
    }
    .searchBar{
        min-width: 200px;
    }
    .BarraSup button {
        min-width: 80px;
        border: 2px solid white;
        border-radius: 10px;
    }
    .login .navimg{
        display: inline-block;
    }
    .searchBar form input{
        width: 100%;
        border-radius: 17px;
    }
    nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: bold;
        height: fit-content;
        width: 100%;
        margin-top: 2.5%;
    }
    
    nav li{
        margin: 10px;
        flex-grow: 1;
        font-size: 2.8vw;
        text-align: center;
        padding: 5px 20px 5px 20px;
        border: 2px solid white;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.473);
    }
    nav li:hover{
        transform: translateY(10%);
        transition: transform .2s;
    }
    nav a{
        text-decoration: none;
        color: white;
    }
    #abaut{
        height: fit-content;
    }
    .nav-link{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .Bienvenida{
        display: flex;
        margin-bottom: 5%;
    }
    .parrBienvenida{
        width: 40%;
        color: white;
    }
    .imgHotel{
        width: 60%;
    }
    .imgHotel img{
        width: 100%;
    }
    .EventosAtuales{
        display: flex;
        flex-direction: row;
        height: 500px;
        padding: 30px;
    }
    .EvImportant{
        display: flex;
        width: 50%;
        margin-top: 5%;
    }
    .imgEvPri{
        width: 100%;
    }
    .OtrosEvent{
        display: flex;
        width: 50%;
        flex-wrap: wrap;
        margin-top: 5%;
    }
    .OEItem{
        width: 50%;
        height: 50%;
    }
    .imgEvFut{
        width: 100%;
        height: 100%;
    }
    .EvImportant:hover, .OEItem:hover {
        opacity: 0.6;
    }
    .EventosPasados{
        display: flex;
        height: fit-content;
        padding: 10px;
        flex-direction: column;
    }
    .carousel-inner{
        width: 100%;
        height: fit-content;
    }
    #carouselExampleControls{
        display: flex;
        width: 100%;
        height: fit-content;
    }
    .videoCont{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 5%;
    }
    .videoCont video{
        width: 100%;
        padding: 25px;
    }
    .carItem{
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 5%;
    }
    h2{
        color: white;
    }
    h3{
        color: white;
    }
    .parr{
        height: fit-content;
        padding: 5%;
        width: 100%;
        display: flex;
        flex-direction: column;
        color: white;
    }
    footer{
        display: flex;
        height: 250px;
        flex-direction: column;
        padding: 10px;
        margin-bottom: 25px;
    }
    footer ul{
        display: flex;
        justify-content:center;
        align-items: center;
        list-style-type: none;
        height: 50px;

    }
    footer li{
        margin-left: 25px;
        margin-right: 25px;
    }
    footer a{
        text-decoration: none;
        color: white;
    }

    .Sponsors{
        display: flex;
        height: 40%;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 5%;
    }
    .Sponsors img{
        min-width: 100px;
    }
    .social {
        display: flex;
        height: 50%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .copyright {
        display: flex;
        height: 50%;
        flex-direction: column;
        width: 100%;
        
    }
    .copyright div {
        width: 100%;
        color: white;
        align-self: flex-end;
        min-width: 30%;
    }
    .copyright p{
        text-align: left;
        position: absolute;
        padding-top: 15px;
    }
    /*home*/
}
@media (max-width: 600px) {
    body{
        margin: 0;
        padding: 0;
    }
    .BarraInf ul li{
    font-size: 3.5vw;
    flex-wrap: wrap;
    }
    .videoCont img{
        width: 0%;
    }
    .videoCont {
        width: 100%;
    }
    .BarraSup {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .BarraSup img{
        flex-grow: 1;
        height: 60vw;
        padding: 20px;
    }
    .searchBar{
        min-width: none;
        margin-top: 10%;
        margin-bottom: 5%;
    }
        nav{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        justify-content: flex-end;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        height: 200px;
    }
    nav li{
        margin: 4px;
        border: 2px solid white;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.719);
    }
    
    .Bienvenida{
        display: flex;
        flex-direction: column;
    }
    .parrBienvenida{
        width: 100%;
    }
    .imgHotel{
        width: 100%;
    }
    .EventosAtuales{
        flex-wrap: wrap;
        height: fit-content;
    }
    .EvImportant{
        margin-top: 10%;
        width: 100%;
    }
    .OtrosEvent{
        margin-top: 20%;
        width: 100%;
    }
    .BarraInf ul{
        margin-top: 5%;
    }
    .Sponsors {
        height: fit-content;
        flex-wrap: wrap;
    }
    .Sponsors img{
        width: 20%;
    }
    .copyright{
        display: flex;
        flex-direction: column;
        height: 50%;
    }
    .copyright p{
        position: inherit;
        text-align: center;
    }
    footer {
        height: 250px;
    }
    .social {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 50%;
        align-content: flex-start;
    }
    .social img{
        width: 20%;
    }
    .copy{
        align-items: center;
    }
}
@media (max-width: 400px) {
    .searchBar{
        width: 100%;
        min-width: none;
    }
}
