@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@600&display=swap');

@media (max-width:1980px){
    /*general*/
    *{
        padding: 0;
        margin: 0;
        font-family: 'lato', sans-serif;
    }
    body {
        background: linear-gradient(rgba(5, 7, 12, 0.651),rgba(5, 7, 12, 0.74)), url("img/Ballroom-2-2.jpg");
        background-attachment: fixed;
        padding: 50px;
        padding-bottom: 70px;
    }
    p, div, span{
        font-family: 'lato', sans-serif;
        color: rgb(212, 212, 212);
        font-size: 1.3vw;
    }
    h1, h2, h3, h4, h5, h6{
        font-family: 'Montserrat', sans-serif;
        color: white;
    }
    h1{
        font-size: 2.7vw;
    }
    h2{
        font-size: 2.4vw;
    }
    h3{
        color: white;
        font-size: 2.3vw;
    }
    .responsive{
        width: 100%;
        height: auto;
    }

    /*Header*/
    .BarraSup{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .BarraSup img{
        min-width: 175px;
        height: 125px;
    }
    .searchBar{
        min-width: 200px;
        width: 100%;
    }
    .BarraSup button {
        min-width: 80px;
        border: 2px solid white;
        border-radius: 10px;
        align-items: center;
    }
    .login .navimg{
        display: inline-block;
    }
    .login {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: end;
        width: 40%;
    }
    .login button{
        height: fit-content;
    }
    .navimg img{
        max-width: 300px;
        max-height: 300px;
    }
    .searchBar form input{
        width: 100%;
        border-radius: 17px;
    }
    nav ul {
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: right;
        font-family: sans-serif;
        font-weight: bold;
        height: fit-content;
        width: 100%;
        margin-top: 2.5%;
    }
    nav li{
        margin: 10px;
        flex-grow: 1;
        font-size: 2vw;
        text-align: center;
        padding: 5px 20px 5px 20px;
        border: 2px solid white;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.473);
    }
    nav li:hover{
        transform: translateY(5%);
        transition: transform .1s;
    }
    nav a{
        text-decoration: none;
        color: white;
    }
    .nav-link{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    /*index*/
    .Bienvenida{
        display: flex;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .parrBienvenida{
        width: 40%;
        color: white;
    }
    .imgHotel{
        width: 60%;
    }
    .imgHotel img{
        width: 100%;
    }
    .index-title{
        text-align: center;
    }
    .EventosAtuales{
        display: flex;
        flex-direction: row;
        height: 500px;
        padding: 30px;
    }
    .EvImportant{
        display: flex;
        width: 50%;
        margin-top: 5%;
    }
    .imgEvPri{
        width: 100%;
    }
    .OtrosEvent{
        display: flex;
        width: 50%;
        flex-wrap: wrap;
        margin-top: 5%;
    }
    .OEItem{
        width: 50%;
        height: 50%;
    }
    .imgEvFut{
        width: 100%;
        height: 100%;
    }
    .EvImportant:hover, .OEItem:hover {
        opacity: 0.6;
    }
    .EventosPasados{
        display: flex;
        height: fit-content;
        padding: 10px;
        flex-direction: column;
    }
    .carousel-inner{
        width: 100%;
        height: fit-content;
    }
    #carouselExampleControls{
        display: flex;
        width: 100%;
        height: fit-content;
    }
    .videoCont{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 5%;
    }
    .videoCont video{
        width: 100%;
        padding: 25px;
    }
    .carItem{
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 5%;
    }

    .parr{
        height: fit-content;
        padding: 5%;
        width: 100%;
        display: flex;
        flex-direction: column;
        color: white;
    }

    /*galería*/

    section ul{
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        list-style-type: none;
    }
    .galeria img{
        border: 1px solid black;
    }
    .galeria-section h3{
        margin-top: 70px;
    }
    .galeria-section h1{
        margin-top: 70px;
    }

    .social{
        padding: 0;
        margin: 0;
    }
    footer{
        height: fit-content;
    } 
    .sponsors, .copyright{
        display: flex;
        height: 250px;
        flex-direction: column;
    }
    footer h3{
        margin-top: 70px;
    }
    footer ul{
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        list-style-type: none;
        height: 50px;
        padding: 0;
        width: 100%;
    }
    footer a{
        text-decoration: none;
        color: white;
    }

    .Sponsors{
        display: flex;
        height: 150px;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 5%;
    }
    .Sponsors img{
        min-width: 100px;
    }
    .social {
        display: flex;
        flex-direction: row;
    }
    .copyright {
        display: flex;
        height: 50px;
        flex-direction: column;
        width: 100%;
        
    }
    .copyright div {
        width: 100%;
        color: white;
        align-self: flex-end;
        min-width: 30%;
    }
    .copyright p{
        text-align: left;
        position: absolute;
        padding-top: 15px;
    }
    /*contacto*/
    .contacto-sect ul {
        list-style-type: none;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "mapa-contacto" "contacto-text";
    }
    .mapa-contacto iframe {
        max-width: 500px;
    }
    .contacto-text span {
        display: block;
        font-size: 20px;
    }
    .formulario form {
        margin-top: 10px;
        padding: 10px;
        border: 1px solid rgba(138, 141, 122, 0.7411764706);
    }
    .formulario form div {
        margin-bottom: 10px;
    }
    .formulario form .form-control {
        background-color: rgba(255, 255, 255, 0.781);
    }
    form button{
        margin: 0;
    }
    .contacto-sect h1{
        margin-top: 70px;
    }

    .cursos-cont{
        margin-top: 100px;
    }
    .curso{
        display: flex;
        height: 400px;
        margin-top: 50px;
    }
    .curso .imgCurso {
        width: 40%;
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .curso .descripcionCurso {
        width: 60%;
        padding: 20px;
    }
    .curso .imgCurso img{
        width: 100%;
        height: 100%;
    }

    .About{
        padding: 0 50px;
    }
    .About h2{
        margin-top: 50px;
    }
}


@media (max-width: 800px) {
    body{
        margin: 0;
        padding: 25px;
    }
    p, div, span{
        font-size: 20px;
    }
    nav ul {
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: right;
        font-family: sans-serif;
        font-weight: bold;
        height: fit-content;
        width: 100%;
        margin-top: 2.5%;
    }
    nav li{
        margin: 10px;
        flex-grow: 1;
        font-size: 2vw;
        text-align: center;
        padding: 5px 20px 5px 20px;
        border: 2px solid white;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.473);
    }
    nav li:hover{
        transform: translateY(5%);
        transition: transform .1s;
    }
    nav a{
        text-decoration: none;
        color: white;
    }
    .nav-link{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .videoCont img{
        width: 0%;
    }
    .videoCont {
        width: 100%;
    }
    .BarraSup {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .BarraSup img{
        flex-grow: 1;
        width: 100vw;
        padding: 20px;
        height: auto;
    }
    .searchBar{
        min-width: 100px;
        margin-top: 10%;
        margin-bottom: 5%;
    }
        nav{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        justify-content: flex-end;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        height: 200px;
        padding: 0;
    }
    nav li{
        margin: 4px;
        border: 2px solid white;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.719);
        font-size: 1rem;
    }
    
    .Bienvenida{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .parrBienvenida{
        width: 100%;
    }
    .imgHotel{
        width: 100%;
    }
    .EventosAtuales{
        flex-wrap: wrap;
        height: fit-content;
    }
    .EvImportant{
        margin-top: 10%;
        width: 100%;
    }
    .OtrosEvent{
        margin-top: 20%;
        width: 100%;
    }
    .BarraInf ul{
        margin-top: 5%;
    }
    /*galeria*/
    section ul{
        grid-template-columns: 1fr 1fr;
    }
    .Sponsors {
        height: fit-content;
        flex-wrap: wrap;
    }
    .Sponsors img{
        width: 20%;
        height: 20%;
    }
    .copyright{
        display: flex;
        flex-direction: column;
        height: 50%;
    }
    .copyright p{
        position: inherit;
        text-align: center;
    }
    footer {
        height: fit-content
    }
    .social {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 50%;
        align-content: flex-start;
    }
    .social img{
        width: 20%;
    }
    .copy{
        align-items: center;
    }
    /*contacto*/
    .contacto-sect ul{
        display: flex;
        flex-direction: column;
    }
    .contacto-sect ul li {
        margin: 15px;
    }
    .contacto-sect {
        padding: 20px;
    }
    .mapa-contacto iframe {
        width: 100%;
    }
    .contacto-text {
        margin-top: 50px;
    }
    .curso{
        display: flex;
        flex-direction: column-reverse;
        height: fit-content;
        margin-top: 50px;
    }
    .curso .imgCurso {
        width: 100%;
    }
    .curso .descripcionCurso {
        width: 100%;
    }
    .login {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: end;
        width: 80%;
    }
    .login button{
        align-self: center;
        flex-grow: 1;
    }
}
@media (max-width: 500px) {
    body{
        padding: 20px;
    }
    .searchBar{
        width: 100%;
        min-width: none;
    }

    /*galería*/
    .galeria{
        grid-template-columns: 1fr;
    }
    /*contacto*/
    .contacto-sect{
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .contacto-sect ul {
        list-style-type: none;
        padding: 0px;
    }
    .contacto-sect ul li {
        margin: 0px;
    }
    .mapa-contacto iframe {
        max-width: 340px;
    }
}
